In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('V5.csv')

In [ ]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [ ]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
df.isin(['?']).sum().sum()

1823

In [ ]:
df.shape

(10000, 12)

In [ ]:
df.replace('?',np.nan,inplace=True)

In [ ]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
df.iloc[692,0]

'2009-11-16'

In [ ]:
df.iloc[546,7]

3

In [ ]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [ ]:
df.isna().sum().sort_values(ascending=False)

Property             1823
Locality             1253
Estimated Value      1243
carpet_area          1229
Date                    0
Year                    0
Sale Price              0
Residential             0
num_rooms               0
num_bathrooms           0
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
df.dropna(thresh=10,inplace=True)

In [ ]:
df.shape

(9917, 12)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(5449, 12)