In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('V5.csv')

In [ ]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [ ]:
df_even = df.iloc[::2]
value = df_even.iloc[0, 3]
print(value)

111440.0

In [ ]:
value = df_even.iloc[332,3]
print(value)

256200.0

In [ ]:
df_odd = df.iloc[1::2]
value = df_odd.iloc[332,3]
print(value)

352940.0

In [ ]:
df_odd_columns = df.iloc[:, 1::2]
value = df_odd_columns.iloc[100, 5]
print(value)

West

In [ ]:
df_even_rows_columns = df.iloc[::2, ::2]
value = df_even_rows_columns.iloc[255, 3]
print(value)

Detached House

In [ ]:
recent_years = df['Year'].unique()
recent_years.sort()
six_most_recent_years = recent_years[-6:]


recent_samples = df[df['Year'].isin(six_most_recent_years)]


num_recent_samples = len(recent_samples)

print("Number of samples from the six most recent years:", num_recent_samples)

Number of samples from the six most recent years: 4749

In [ ]:
filtered_df = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)]
num_filtered_samples = len(filtered_df)
print("Number of samples with 3 rooms and 3 bathrooms:", num_filtered_samples)

Number of samples with 3 rooms and 3 bathrooms: 2730

In [ ]:
filtered_df = df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)]
num_filtered_samples = len(filtered_df)
print("Number of samples with 3 rooms or 3 bathrooms:", num_filtered_samples)

Number of samples with 3 rooms or 3 bathrooms: 8591

In [ ]:
filtered_df = df[(df['Year'] == 2022) & (df['Locality'] == 'Greenwich') & (df['num_rooms'] == 3) & ((df['Face'] == 'North') | (df['Face'] == 'East'))]
num_filtered_samples = len(filtered_df)
print("Number of houses in Greenwich Locality in 2022 with 3 rooms facing North or East:", num_filtered_samples)

Number of houses in Greenwich Locality in 2022 with 3 rooms facing North or East: 42

In [ ]:
value=df[pd.to_datetime(df['Date']).dt.month == 8]
print(value.shape[0])

1050

In [ ]:
df[['Sale Price','Locality']].groupby('Locality').mean().sort_values(by='Sale Price',ascending=False)

                 Sale Price
Locality
Greenwich      2.270224e+06
Fairfield      7.277225e+05
Stamford       6.305313e+05
Norwalk        5.590959e+05
West Hartford  3.385472e+05
Bridgeport     1.740953e+05
Waterbury      1.062152e+05